<app-page-jumbotron></app-page-jumbotron>
<div class="container big-box-container big-box-container-white u-text-center">
  <div class="u-topBuffer48px">
    <div class="col-xs-6 col-md-4">
      <!-- header content -->
      <app-free-plan-column></app-free-plan-column>
      <!--Colomun One-->
    </div>
    <div class="col-xs-6 col-md-4 u-divider-left u-divider-right">
      <app-developer-plan-column></app-developer-plan-column>
      <!--colomun two-->
    </div>
    <div class="col-xs-6 col-md-4">
      <app-business-plan-column></app-business-plan-column>
      <!--Colomun Three-->
    </div>
  </div>
  <!--tabs to toggle something-->
</div>
