<p>
  This is a fake sign-up form. To use this site, you must have a pre-existing github account. Check out their site to register. <a href="http://github.com">www.github.com</a>
</p>
<div class="col-md-6 col-md-offset-3"><!-- <form (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate> -->
    <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid}"> -->
    <form class="form-signin">
      <h2 class="form-heading"> Register Here!</h2>
      <div class="form-group">
        <label for="userName" class="sr-only">Username</label>
        <input type="text" class="form-control" placeholder="username" autofocus>
        <!-- <input type="text" class="form-control" [(ngModel)]="model.username" #username="ngModel" required /> -->
        <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div> -->
      </div>
      <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid}"> -->
        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input type="email" class="form-control" placeholder="something@something.com" autofocus>
        <!-- <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" required /> -->
        <!-- <div *ngIf="f.submitted && !email.valid" class="help-block">Username is required</div> -->
      </div>
      <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid}"> -->
        <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="password" autofocus>
        <!-- <input type="text" class="form-control" [(ngModel)]="model.password" #password="ngModel" required /> -->
        <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Username is required</div> -->
      </div>
      <button class="btn btn-lg btn-primary btn-block">Register</button>
    </form>  <!-- </form> -->
</div>
