<div class="jumbotron">
  <div class="container">
    <h1>Built for Developers</h1>
    <p>
      GitHub is a development platform inspired by the way you work. From open source to business,
      you can host and review code, manage projects,
      and build software alongside millions of other developers.
    </p>
    <h2>Lorem ipsum dolor sit</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <a routerLink="about" class="btn btn-large btn-primary">About page</a>

  </div>
</div>
