<ul class="u-checkMark">
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
  <li><span class="glyphicon glyphicon-ok"></span> Lorem ipsum dolor sit amet, consectetur</li>
</ul>
