<div class="jumbotron">
  <div class="container">
    <h1>What is this?</h1>
    <p>
      Hello welecome to my site. This project is built using the Angular 4, BootStrap, Sass, and Firebase. It's also public, and you can find the repo <a href="https://github.com/Jadex1/githubclientclone"> here</a>.I wanted a good api to interact with while I learned Angular and this is what I used. If you like what you see you can check out my linkedin, I might be looking for a job. <a href="https://www.linkedin.com/in/jamesohall87/">Hire Me!</a>
    </p>
    <h2>Lorem ipsum dolor sit</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>
