.bgColor-green {
  background-color: green;
}
.bgLight-blue {
  background-color: #ADD8E6;
}
.bgColor-orange {
  background-color: #FFA500;
}
.bgColor-gray {
  background-color: #808080;
}
.bgColor-white {
  background-color: $color-white;
}
