.u-text-center {
  text-align: center;
}
.u-topBuffer48px {
  margin-top: 48px;
}
.u-checkMark {
  position: relative;
  padding-left: 2.5rem;
  list-style-type: none;
}
.u-divider-left {
  border-left: 1px solid black;
}
.u-divider-right {
  border-right: 1px solid black;
}
.u-plan-vertical-header {
  padding: 0 8px;
}
.u-plan-vertical-header-content {
  text-align: center;
}
.u-plan-vertical-header-fixedHeight200 {
  height: 200px;
}
.u-minHeight35px {
  min-height: 35px;
}
.u-center-block {
  margin-left: auto;
  margin-right: auto;
}
.u-text-body {
  font-weight: 600;
}
