.u-backgroundGreen {
  background-color: green;
}
.u-text-center {
  text-align: center;
}
.u-light-blue-background {
  background-color: #ADD8E6;
}
.u-orange-background {
  background-color: #FFA500;
}
.u-gray-background {
  background-color: #808080;
}
.u-topBuffer48px {
  margin-top: 48px;
}
