<app-page-jumbotron></app-page-jumbotron>
<div class="container big-box-container big-box-container-white u-text-center">
  <div class="u-topBuffer48px">
    <div class="col-md-6 u-divider-right">
      <!-- header content -->
      <app-free-plan-column [showButton]="false"></app-free-plan-column><!-- showButton set true -->
      <!-- figure out how to toggle presence of button by calling component -->
      <!--Colomun One-->
    </div>
    <div class="col-md-6">
      <!-- header content -->
      <app-signup-form></app-signup-form>
      <!--Colomun One-->
    </div>
  </div>
</div>
