<div class="jumbotron u-orange-background">
  <div class="container">
    <h1 class="u-text-center">Pricing and Options for All!</h1>
  </div>
</div>
<div class="container big-box-container big-box-container-white u-text-center">
  <div class="u-topBuffer48px">
    <div class="col-xs-6 col-md-4 u-backgroundGreen">
      <!-- header content -->
      <h3>Derp</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!--Colomun One-->
    </div>
    <div class="col-xs-6 col-md-4 u-backgroundGreen">
      <h3>Derp</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!--Colomun Two-->
    </div>
    <div class="col-xs-6 col-md-4 u-backgroundGreen">
      <h3>Derp</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!--Colomun Three-->
    </div>
  </div>
  <!--tabs to toggle something-->
</div>
