/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
body {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  background-color: #eee;
}
.u-backgroundGreen {
  background-color: green;
}
.h1, .h2 {
  margin-top: 20px;
  font-size: 30px;
}
