/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
body {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  background-color: #eee;
}
.u-backgroundGreen {
  background-color: green;
}
.h1, .h2 {
  margin-top: 20px;
  font-size: 30px;
}
.u-text-center {
  text-align: center;
}
.u-light-blue-background {
  background-color: #ADD8E6;
}
.u-orange-background {
  background-color: #FFA500;
}
.u-gray-background {
  background-color: #808080;
}
.big-box-container {
  position: relative;
  top: -47px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: .2rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
}
.big-box-container-white {
  background-color: #fff;
}
.u-topBuffer48px {
  margin-top: 48px;
}
